* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: verdana, sans-serif;
  line-height: 1.5;
}
:root {
  background-color: rgb(255, 255, 255);
  --primary-color: white;
  --secondary-color: #282a2d;
  --Main-Background-color: black;
  --font-size: 15px;
  --main-logo-fontfamily: "Segoe UI", Arial, sans-serif;
  --sub-head-weight: 400;
  --sub-head-size: 24px;
  --sub-head-color: black;
  --border: #ccc;
}
// nav
nav {
  background-color: var(--primary-color);
  height: 55px;
  width: 100%;
  position: fixed;
  padding: 8px 16px;
  box-shadow: 0 1px 10px 0 rgb(109, 105, 105);
  z-index: 2;
  .logo-hold {
    display: inline;
    padding: 8px 16px;
    .logo {
      color: var(--secondary-color);
    }
  }
  .leslie {
    font-size: large;
    font-weight: bold;
  }
  .logo-text {
    font-size: large;
  }
  .logo-hold:hover {
    color: var(--sub-head-color);
    background-color: var(--border);
  }
  a {
    text-decoration: none;
    list-style: none;
    color: var(--secondary-color);
  }
  .ulnav {
    justify-content: space-between;
    display: flex;
    line-height: 1.5;
    font-size: var(--font-size);
    .nav-hold {
      display: flex;
      .nav-text {
        padding: 8px 16px;
      }
    }
  }
  .nav-text:hover {
    color: var(--sub-head-color);
    background-color: var(--border);
  }
}
// content
.content {
  background-image: url(https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  padding: 55px 16px 8px 16px;
  .sub-hold {
    padding-left: 16px;
    .sub-heads {
      margin: 10px 0px;
      font-weight: var(--sub-head-weight);
      font-size: var(--sub-head-size);
      font-family: var(--main-logo-fontfamily);
      padding: 16px 0px;
      color: var(--sub-head-color);
      border-bottom: 1px solid var(--border);
      display: block;
    }
  }
  .comp-hold {
    padding-left: 16px;
  }
  .pro-hold {
    padding-left: 16px;
  }
  .bef-hold {
    padding-left: 16px;
  }

  .bef-hold {
    display: flex;
    flex-wrap: wrap;
  }
  .pro-hold {
    display: flex;
    flex-wrap: wrap;
  }
  .comp-hold {
    display: flex;
    flex-wrap: wrap;
  }
}
// before
.before {
  padding: 8px 16px;
  img {
    height: 60vh;
    width: auto;
    padding: 8px 0px;
  }
}
// progress
.progress {
  padding: 8px 16px;
  img {
    height: 60vh;
    width: auto;
    padding: 8px 0px;
  }
}
// completed
.completed {
  padding: 8px 16px;
  img {
    height: 60vh;
    width: auto;
    padding: 8px 0px;
  }
}
// gallery
.gallery {
  padding: 8px 8px;
}
.gal {
  .gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  .gallery:hover {
    border: 1px solid #777;
  }

  .gallery {
    img {
      width: 100%;
      height: auto;
    }
  }
}
.desc {
  padding: 16px 8px;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
// footer
footer {
  display: block;
  height: 10vh;
  background-color: var(--Main-Background-color);
}
@media only screen and (max-width: 655px) {
  body {
    // content
    .Content {
      padding: 8px 24px 8px 0;
    }
    // about
    .about {
      .about-text {
        text-indent: 16px;
      }
    }
    // nav text
    .nav-text {
      display: none;
    }
    .location {
      padding-left: 32px;
      // Location Text
      .busi-loca {
        display: flex;
        flex-wrap: wrap;
        .loca-info {
          width: 100% !important;
          padding-bottom: 15px;
        }
      }
      // map
      .loca-info {
        text-indent: 16px;
      }
      .map {
        iframe {
          padding: 0 0 !important;
          height: 50vh;
        }
      }
    }
    // service img
    .cta-img-n {
      flex-wrap: wrap;
    }
    .cta-img {
      flex-wrap: wrap;
    }
    // main img
    .main-img {
      width: 100%;
      height: 70vh !important;
    }
    .img-text {
      text-align: center;
    }
    .gallery {
      img {
        width: 100% !important;
      }
    }
  }
}
