// hixem85505@chatich.com
// Asdfghjkl1@
// vSffNCvjUwb0
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: verdana, sans-serif;
  line-height: 1.5;
}
:root {
  background-color: rgb(255, 255, 255);
  --primary-color: white;
  --secondary-color: #282a2d;
  --Main-Background-color: black;
  --font-size: 15px;
  --main-logo-fontfamily: "Segoe UI", Arial, sans-serif;
  --sub-head-weight: 400;
  --sub-head-size: 24px;
  --sub-head-color: black;
  --border: #ccc;
}
// Navigation
nav {
  background-color: var(--primary-color);
  height: 55px;
  width: 100%;
  position: fixed;
  padding: 8px 16px;
  box-shadow: 0 1px 10px 0 rgb(109, 105, 105);
  z-index: 2;
  .logo-hold {
    display: inline;
    padding: 8px 16px;
    .logo {
      color: var(--secondary-color);
      .logo-text {
        font-size: large;
      }
    }
  }
  .leslie {
    font-size: large;
    font-weight: bold;
  }
  .logo-hold:hover {
    color: var(--sub-head-color);
    background-color: var(--border);
  }
  a {
    text-decoration: none;
    list-style: none;
    color: var(--secondary-color);
  }
  .ulnav {
    justify-content: space-between;
    display: flex;
    line-height: 1.5;
    font-size: 15px;
    .nav-hold {
      display: flex;
      .nav-text {
        padding: 8px 16px;
      }
    }
  }
  .nav-text:hover {
    color: var(--sub-head-color);
    background-color: var(--border);
  }
}
// Main Image
.img-container {
  position: relative;
  // text On img
  .img-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .text-left {
      color: var(--primary-color);
      background-color: var(--Main-Background-color);
      opacity: 0.75;
      font-family: var(--main-logo-fontfamily);
      font-size: 40px;
    }
    .text-right {
      color: var(--primary-color);
      font-size: 32px;
    }
  }
  // Image
  .main-img {
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
}
// Content div
.Content {
  padding: 8px 16px 8px 16px;
}
// Sub heading container
.sub-hold {
  padding-left: 16px;
  .sub-heads {
    margin: 10px 0px;
    font-weight: var(--sub-head-weight);
    font-size: var(--sub-head-size);
    font-family: var(--main-logo-fontfamily);
    padding: 16px 0px;
    color: var(--sub-head-color);
    border-bottom: 1px solid var(--border);
    display: block;
  }
}
// Service
.service {
  .gallery-cta {
    text-decoration: none;
  }
  padding: 0px 16px;
  flex-wrap: wrap;
  // text
  .serv-text {
    background-color: var(--Main-Background-color);
    color: var(--primary-color);
    padding: 8px 16px;
  }
  .serv-info {
    padding-left: 16px;
    padding-bottom: 8px;
  }
  // Images
  .cta-img {
    display: flex;
    float: left;
    width: 100%;
    padding: 4px 8px;
  }
}
.cta-img-n {
  display: flex;
  float: left;
  width: 100%;
  padding: 4px 8px;
}
.img-hold {
  padding: 4px 8px;
  img {
    height: auto;
    width: 100%;
  }
}
// text aligning
.out {
  position: relative;
}
.in {
  position: absolute;
  top: 0;
  left: 0;
}
// Location
.location-hold {
  padding-left: 16px;
  display: inline-block;
  .location {
    display: inline;
    padding-left: 16px;
    // Location Text
    .busi-loca {
      display: flex;
      flex-direction: row;
      padding: 8px 16px;
      .loca-info {
        text-indent: 16px;
        width: 40%;
        padding: 8px 16px;
      }
    }
    // Map
    .map-hold {
      width: 100%;
      padding: 4px 16px;
      iframe {
        padding: 0 15%;
        width: 100%;
        height: 60vh;
      }
    }
  }
}
// footer
footer {
  display: block;
  height: 10vh;
  background-color: var(--Main-Background-color);
}

// About
.about {
  float: left;
  padding: 0px 16px;
  p {
    margin-left: 16px;
    float: left;
  }
}
// Form
// Contact
.contact {
  display: block;
  padding: 0px 16px;
  float: left;
  width: 100%;
  p {
    padding-left: 16px;
  }
  .form {
    border: 1px solid #ccc;
    padding: 8px;
    display: block;
    width: 100%;
    margin: 16px;
  }
  .button-item {
    color: var(--primary-color);
    background-color: var(--sub-head-color);
    margin: 16px;
    padding: 8px 16px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }
}
.button-item:hover {
  color: var(--sub-head-color);
  background-color: var(--border);
}
// phone screens
@media only screen and (max-width: 655px) {
  body {
    // content
    .logo {
      letter-spacing: 2px;
    }
    .Content {
      padding: 8px 24px 8px 0;
    }
    // about
    .about {
      .about-text {
        text-indent: 16px;
      }
    }
    // nav text
    .nav-text {
      display: none;
    }
    .location {
      padding-left: 32px;
      // Location Text
      .busi-loca {
        display: flex;
        flex-wrap: wrap;
        .loca-info {
          width: 100% !important;
          padding-bottom: 15px;
        }
      }
      // map
      .loca-info {
        text-indent: 16px;
      }
      .map {
        iframe {
          padding: 0 0 !important;
          height: 50vh;
        }
      }
    }
    // service img
    .cta-img-n {
      flex-wrap: wrap;
      width: 100%;
      .img-hold {
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .cta-img {
      flex-wrap: wrap;
      width: 100%;
      .img-hold {
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    // main img
    .main-img {
      width: 100%;
      height: 70vh !important;
    }
    .img-text {
      text-align: center;
    }
  }
}
// main img
@media only screen and (min-width: 655px) {
  body {
    .main-img {
      width: 100%;
      height: 75vh !important;
    }
    .loca-text {
      padding-left: 16px;
    }
  }
}
@media only screen and (min-width: 800px) {
  body {
    .main-img {
      height: 100vh !important;
      width: 100%;
    }
  }
}
// Tablets
@media only screen and (max-width: 1040px) {
  body {
    // Location Text
    .busi-loca {
      display: flex;
      flex-wrap: wrap;
      .loca-info {
        width: 100% !important;
        padding-bottom: 15px;
      }
    }
    .img-text {
      text-align: center !important;
    }
    .nav-text {
      display: none;
    }
  }
}
// Laptops
@media only screen and (max-width: 1300px) {
  body {
    // Location Text
    .busi-loca {
      display: flex;
      flex-wrap: wrap;
      .loca-info {
        width: 100% !important;
        padding: 15px;
      }
    }
    // map
    .map-hold {
      iframe {
        padding: 0 5% !important;
        height: 60vh !important;
      }
    }
  }
}
@media only screen and (min-width: 1800px) {
  :root {
    padding: 0 33% !important;
    // service img
    .cta-img-n {
      flex-wrap: wrap;
    }
    .cta-img {
      flex-wrap: wrap;
    }
    // main img
    .main-img {
      width: 100%;
      height: 75% !important;
    }
  }
  .location-hold {
    height: 30vh;
  }
  .busi-loca {
    height: 30vh;
    iframe {
      height: 100% !important;
    }
  }
}
